/* CSS variables */
:root {
    --primary: #2f5ecc;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #999;
    --grey-light: #d6d6d6;
    --grey-lighter: #eee;

    --grey-darkest: #333;

    --conciliaciones: #023047;
    --usuarios: #0077b6;
    --fuentes: #01baef;
    --tableros: #7400b8;
}

/* Adding reset styles */
*,
*:after,
*:before {
    box-sizing: inherit;
}
body,
html {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 62.5%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin: 0;
}
ul {
    margin: 0;
}
ul li {
    list-style-type: none;
}

