.searchContent {
    background: var(--white);
    padding: 2rem;
    border-bottom: .1rem dashed var(--grey-light);
    display: flex;
    align-items: baseline;
}
.blockInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
    display: block;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
.tag-type {
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-right: 1rem;
    text-transform: capitalize;
    display: inline-block;
    background-color: var(--grey-light);
}
.tag-conciliaciones {
    color: var(--white);
    background-color: var(--conciliaciones);
}
.tag-usuarios {
    color: var(--white);
    background-color: var(--usuarios);
}
.tag-fuentes {
    color: var(--white);
    background-color: var(--fuentes);
}
.tag-tableros {
    color: var(--white);
    background-color: var(--tableros);
}