.search {
    position: relative;
    padding: 3rem 3rem 5rem;
    transition: all .5s;
}
.search-backdrop {
    opacity: 0;
    background: var(--white);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    border-radius: 1.5rem;
    transition: all .5s;
    &.animated {
        opacity: 1;
        animation: animateBackdrop .5s ease-in-out;
        animation-fill-mode: both;
    }
}
.search-title {
    font-size: 6rem;
    text-align: center;
    color: var(--primary);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}
.search-result {
    width: 100%;
    top: 1rem;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 .8rem 2rem rgba(0,0,0,0.1);
    overflow: hidden;
    overflow-y: auto;
    max-height: 40rem;
    transition: all .5s;
    &.animated {
        animation: animateSearchResult .5s ease;
        animation-fill-mode: both;
    }
}
.filters {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.filter-title {
    color: var(--grey-darkest);
    font-size: 1.8rem;
    margin: 0 1rem;
}
.inputContent {
    display: flex;
    button {
        cursor: pointer;
        position: relative;
        flex: 1 1 100px;
        border: 0;
        font-size: 1.6rem;
        color: var(--primary);
        font-weight: bold;
        background-color: transparent;
        .cleanIcon {
            margin-right: .5rem;
        }
    }
}

@keyframes animateBackdrop {
    0% {
        opacity: .5;
        transform: scale(.8);
    }
    50% {
        opacity: .8;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animateSearchResult {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 750px) {
    .filters {
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter-title {
        min-width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    }
}