.search {
    position: relative;
    padding: 3rem 3rem 5rem;
    transition: all .5s;
}
.search-backdrop {
    opacity: 0;
    background: var(--white);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    border-radius: 1.5rem;
    transition: all .5s;
    &.animated {
        opacity: 1;
        animation: animateBackdrop .5s ease-in-out;
        animation-fill-mode: both;
    }
}
.search-title {
    font-size: 6rem;
    text-align: center;
    color: var(--primary);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}
.search-result {
    opacity: 0;
    width: 100%;
    top: 1rem;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 .8rem 2rem rgba(0,0,0,0.1);
    visibility: hidden;
    padding: 0;
    height: 0;
    transition: all .5s;
    &.animated {
        height: auto;
        padding: 2rem;
        max-height: 30rem;
        overflow: hidden;
        overflow-y: auto;
        visibility: visible;
        animation: animateSearchResult .5s ease;
        animation-fill-mode: both;
    }
}
.search-blur-result {
    font-size: 1.6rem;
    max-height: 30rem;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 1rem;
}

@keyframes animateBackdrop {
    0% {
        opacity: .5;
        transform: scale(.8);
    }
    50% {
        opacity: .8;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animateSearchResult {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}