.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
.content {
    width: 50%;
    position: relative;
    transition: all .5s;
    transform: translateY(-30%);
}

@media screen and (max-width: 800px) {
    .content {
        width: 90%;
        transform: translateY(0);
    }   
}

@media screen and (max-width: 470px) {
    .content {
        width: 100%;
    }   
}